@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.site-header {
  background: var(--primary);
  color: #fff;
  .header-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: rem(12) rem(16);
    @include m.flex-center(row, 1rem);
    justify-content: space-between;

    .brand {
      font-family: "Lexend", system-ui, sans-serif;
      font-size: rem(20);
    }

    .nav {
      @include m.flex-center(row, 0.5rem);

      &__link {
        color: white;
        text-decoration: none;
        padding: rem(8) rem(12);
        border-radius: rem(6);
        &:hover,
        &--active {
          background: alpha(#fff, 0.08);
        }
      }
    }

    .btn-toggle-theme {
      background: transparent;
      border: none;
      color: white;
      font-size: rem(18);
      cursor: pointer;
    }
  }
}
