$primary-color: #1f2937;
$secondary-color: #d41b2c;
$background-color: #111827;
$text-color: #f9fafb;
$card-bg-color: #1e293b;
$font-stack: "Poppins", sans-serif;
$spacing-unit: 1rem;

:root {
  --link-color: #f87171;
  --link-hover: #d41b2c;
  --border-radius: 10px;
}
