@import "utilities";
@import "config";
@import "mobile";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $secondary-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.showcase {
  @include set-background($primary-color);
  height: 600px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 15px;
  }

  a:hover {
    color: $light-color;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  img {
    width: 50%;
  }

  h1 {
    font-size: 42px;
    line-height: 1.2;
  }

  p {
    margin: 20px 0;
  }
}
