body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h2 {
  color: #d6336c;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

p {
  margin-bottom: 15px;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}


aside {
  width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

header, footer {
  text-align: center;
}

header nav a {
  margin: 0 15px;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav a:hover {
  color: #d6336c;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  vertical-align: top;
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

td figure {
  margin: 0;
}

td figure img {
  width: 100%;
  height: auto;
  display: block;
}

table th:first-child,
table td:first-child {
  width: 50%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 40%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 10%;
}
